In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import statsmodels.api as sm
import keras
import matplotlib.pyplot as plt

/usr/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools
/usr/lib/python3.6/site-packages/h5py/__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [3]:
data = pd.read_csv('train.csv', parse_dates=['Date'])

/usr/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2728: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
data = data.set_index(['Date']).sort_index()

In [5]:
data_store_1 = data[data.Store == 1]

In [6]:
data

,Store,DayOfWeek,Sales,Customers,Open,Promo,StateHoliday,SchoolHoliday
Date,,,,,,,,
2013-01-01,1115,2,0,0,0,0,a,1
2013-01-01,379,2,0,0,0,0,a,1
2013-01-01,378,2,0,0,0,0,a,1
2013-01-01,377,2,0,0,0,0,a,1
2013-01-01,376,2,0,0,0,0,a,1
2013-01-01,375,2,0,0,0,0,a,1
2013-01-01,374,2,0,0,0,0,a,1
2013-01-01,373,2,0,0,0,0,a,1
2013-01-01,372,2,0,0,0,0,a,1
2013-01-01,371,2,0,0,0,0,a,1
2013-01-01,370,2,0,0,0,0,a,1
2013-01-01,369,2,0,0,0,0,a,1
2013-01-01,368,2,0,0,0,0,a,1
2013-01-01,367,2,0,0,0,0,a,1
2013-01-01,366,2,0,0,0,0,a,1
2013-01-01,380,2,0,0,0,0,a,1
2013-01-01,365,2,0,0,0,0,a,1
2013-01-01,363,2,0,0,0,0,a,1
2013-01-01,362,2,0,0,0,0,a,1
2013-01-01,361,2,0,0,0,0,a,1
2013-01-01,360,2,0,0,0,0,a,1
2013-01-01,359,2,0,0,0,0,a,1
2013-01-01,358,2,0,0,0,0,a,1
2013-01-01,357,2,0,0,0,0,a,1
2013-01-01,356,2,0,0,0,0,a,1
2013-01-01,355,2,0,0,0,0,a,1
2013-01-01,354,2,0,0,0,0,a,1
2013-01-01,353,2,3139,820,1,0,a,1
2013-01-01,352,2,0,0,0,0,a,1
2013-01-01,351,2,0,0,0,0,a,1
...,...,...,...,...,...,...,...,...
2015-07-31,762,5,6647,532,1,1,0,1
2015-07-31,761,5,12761,1203,1,1,0,1
2015-07-31,760,5,8350,1258,1,1,0,1
2015-07-31,759,5,11253,1005,1,1,0,1
2015-07-31,758,5,6230,725,1,1,0,1
2015-07-31,757,5,9343,684,1,1,0,1
2015-07-31,756,5,25280,2901,1,1,0,1
2015-07-31,755,5,12426,995,1,1,0,1
2015-07-31,754,5,8920,927,1,1,0,1
2015-07-31,753,5,9303,767,1,1,0,1
2015-07-31,752,5,7763,565,1,1,0,1
2015-07-31,751,5,4844,539,1,1,0,1
2015-07-31,750,5,6395,499,1,1,0,0
2015-07-31,749,5,6612,716,1,1,0,1
2015-07-31,735,5,7530,594,1,1,0,1
2015-07-31,736,5,5942,541,1,1,0,0
2015-07-31,737,5,10548,1232,1,1,0,1
2015-07-31,738,5,9504,749,1,1,0,1
2015-07-31,739,5,12150,928,1,1,0,0
2015-07-31,740,5,10085,672,1,1,0,1
2015-07-31,733,5,16625,3644,1,1,0,1
2015-07-31,741,5,11253,1137,1,1,0,1
2015-07-31,743,5,5085,501,1,1,0,1
2015-07-31,744,5,8663,943,1,1,0,0
2015-07-31,745,5,8363,746,1,1,0,1
2015-07-31,746,5,9082,638,1,1,0,1
2015-07-31,747,5,10708,826,1,1,0,1
2015-07-31,748,5,7481,578,1,1,0,1
2015-07-31,742,5,10460,1016,1,1,0,1
2015-07-31,1,5,5263,555,1,1,0,1